/* app.component.scss */

h1 {
    color: #343a40;
}

nav {
    margin-bottom: 20px;

    a {
        margin-right: 20px;
        text-decoration: none;
        color: #007bff;
        font-weight: bold;

        &.active {
            color: #28a745;
        }
    }
}